<h2>New Song Request</h2>
<p>Only youtube urls are supported.</p>
<%= render 'form' %>

<%= link_to 'Back', song_requests_path %>

<br/><br/><br/><br/>
<input type="text" placeholder="Search for youtube videos..." id="youtube_url_fetcher" title="Type and press enter, then click on one result to populate the url" />
<div id="search_results"></div>